
<div class="container" >
    <h5 class="text-center" *ngIf="isloaded">View Appointments</h5>

    <h5 class="text-center" *ngIf="!isloaded">{{pagemassage}}</h5>
    <table class="table table-striped table-responsive-sm">
      
        <thead >
        <tr style="white-space:nowrap;">
          <th scope="col" class="h1" style="font-size: 16px; font-weight: 700; border-top: none; border-bottom: none;">Sl NO</th>
          <th scope="col" class="h2" style="font-size: 16px; font-weight: 700; border-top: none; border-bottom: none; ">Name</th>
          <th scope="col" class="h3" style="font-size: 16px; font-weight: 700; border-top: none; border-bottom: none; ">Address</th>
          <th scope="col" class="h4" style="font-size: 16px; font-weight: 700; border-top: none; border-bottom: none; ">City</th>
          <th scope="col" class="h5" style="font-size: 16px; font-weight: 700; border-top: none; border-bottom: none; ">Package</th>
          <th scope="col" class="h6" style="font-size: 16px; font-weight: 700; border-top: none; border-bottom: none; ">Trainer Preference</th>
          <th scope="col" class="h7" style="font-size: 16px; font-weight: 700; border-top: none; border-bottom: none; ">Phone</th>

        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let appointment of appointments; index as i" style=" white-space:nowrap;">
          <th scope="row">{{ i + 1 }}</th>
          <td>
            {{ appointment.firstname +" "+appointment.lastname }}
          </td>
          <td>{{ appointment.streetaddress }}</td>
          <td>{{ appointment.city }}</td>
          <td>{{ appointment.packages }}</td>
          <td>{{ appointment.trainerpreference }}</td>
          <td>{{ appointment.phonenumber }}</td>
          <td><button type="button" class="btn btn-primary" (click)="editAppointment(appointment.id)">Edit</button></td>
          <td><button type="button" class="btn btn-danger" (click)="deleteAppointment(appointment.id,i)">Delete</button></td>
        </tr>
        </tbody>
      </table>
</div>